<!--Esse template herda no extends o layout.html
ELe tem estruturas básicas de layout-->

{% extends 'layout.html' %}


{% block title %}

Informaçoes Profisionais



{% endblock %}

{% block content %}
<h1>Informaçoes Profisionais</h1>

<p>Conteúdo de página Profissao

    Sou arquiteta urbanista com mais de cinco anos de experiência no desenvolvimento de projetos residenciais e comerciais focados em sustentabilidade. No meu dia a dia, transformo conceitos criativos em plantas executivas detalhadas, gerencio equipes em canteiros de obras e negocio diretamente com fornecedores para garantir prazos e custos. Minha sólida habilidade em softwares de modelagem 3D, combinada com minha visão estética da fotografia, me permite criar espaços funcionais e visualmente impactantes.
</p>
{% endblock %}