<!--Esse template herda no extends o layout.html
ELe tem estruturas básicas de layout-->

{% extends 'layout.html' %}


{% block title %}

Sobre Mim



{% endblock %}

{% block content %}
<h1>Sobre Mim</h1>

<p>Conteúdo de página Sobre Mim

    Eu sou  uma arquiteta apaixonada por fotografia urbana que encontra sua verdadeira felicidade ao explorar novos bairros nos finais de semana. Em minhas horas livres, eu adoro registrar a iluminação dos prédios antigos com minha câmera analógica, saborear um bom café gelado enquanto leio livros de ficção científica e cultivar plantas exóticas em minha varanda.
</p>
{% endblock %}